* {
    font-family: arial;
    font-size: 16;
    
}

    body {

        background-color: rgb(86, 1, 143);
        width: 500px;
        margin: auto;
        padding: 10px;
    }

    main {

        background-color: aliceblue;
    }
